body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gag-nav {
  .navbar-nav {
    & > li {
      margin: 0 5px;
      & > .tab {
        border-bottom: 3px solid transparent;
      }
      & > a {
        &.tab {
          &:focus {
            border-color: #fff;
          }
        }
      }
    }
  }
}

.user-info {
  margin-bottom: 20px;
}

.jumbotron {
  &.user-info {
    text-align: center;
    color: #cdbfe3;
    margin-bottom: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-repeat: repeat-x;
  }
}

.mug-shot {
  margin: 0 auto;
}

.user-menu {
  border-bottom: 1px solid #ddd;
}

.user-setup-btn {
  & > .dropdown-toggle {
    display: inline-block;
  }
}

.post {
  &.jumbotron {
    text-align: center;
  }
  .item-title {
    margin-top: 0;
  }
}

img {
  border: 1px solid #333;
  padding: 5px;
  width: 300px;
}

