script#contentTmpl(type="text/x-jquery-tmpl")
  .post.jumbotron
    .post-header
      .item-title
        a.badge-evt.badge-track(href="#") ${title}
    .post-body
      a.badge-evt.badge-track.badge-track-no-follow(href="#", style="min-height:360px;")
        img.badge-item-img(src='${image}')
    .post-footer