.container
  hr
  footer
    .row
      .col-lg-12
        p Xgag &copy; 2015
          | This Power by 
          a(href="http://exma-square.co/", target="_blank") EXMA-Square.co 
          | , open source is  
          a(href="https://github.com/exma-square/Xgag", target="_blank") Xgag project
        p Welcome to contact us hq[AT]exma-square.co