extends layout

block content
  if user
    .list-group-item.list-group-item-warning.user-info
      .container Hello #{user.name} Welcome to #{title}

  .container
    .row
      .col-md-9.post-clump

      .col-md-3.sidebar