extends common/layout

block content
  .container
    .row
      .col-md-8.post-clump

      .col-md-4(style="margin-top: 80px;")
        include common/sidebar
block js
  script(type='text/javascript').
    $(function(){
      getPostsAjax();
    });
