doctype html
html(lang='en', mode='normal')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Xgag')
    meta(name='author', content='exma')
    title= title
    //- Bootstrap Core CSS
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css')
    //- Custom CSS 
    link(rel='stylesheet' href='/stylesheets/main.css')
    
    //- jQuery
    script(type='text/javascript' src='/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/lib/jquery.tmpl.min.js')
    //- Bootstrap Core JavaScript
    script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
    //- Custom JS
    script(type='text/javascript' src='/javascripts/main.js')

      
    
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <![endif]
  body
    nav.gag-nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Xgag
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a.tab(href='/') Hot
            li
              a.tab(href='#') Fresh
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | More 
                span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') NSFW
                  li
                    a(href='#') WTF
                  li
                    a(href='#') GIF
                  li.divider
                  li
                    a(href='#') Girl
                  li
                    a(href='#') Cute
          ul.nav.navbar-nav.navbar-right
            if !user
              li
                a.tab(href='#' data-toggle='modal' data-target='.login-modal') Log in
                .modal.fade.login-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-login' aria-hidden='true')
                  .modal-dialog
                    form.modal-content(action="/login" method="post")
                      .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                        h2.modal-title#dialog-login Login
                        span.text-info Log in with your email address
                      .modal-body
                        .form-group.form-group-lg
                          label.control-label(for='login-email-name') Email
                          input.form-control#login-email-name(type='text' name='email')
                        .form-group.form-group-lg
                          label.control-label(for='login-password') Password
                          input.form-control#login-password(type='password' name='password')
                      .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Log in
              li
                a.tab(href='#' data-toggle='modal' data-target='.signup-modal') Sign up
                .modal.fade.signup-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-signup' aria-hidden='true')
                  .modal-dialog
                    form.modal-content(action="/create" method="post")
                      .modal-header
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                        h2.modal-title#dialog-signup Become a member
                      .modal-body
                        .form-group.form-group-lg
                          label.control-label(for='signup-full-name') Full Name
                          input.form-control#signup-full-name(type='text' name='name')
                        .form-group.form-group-lg
                          label.control-label(for='signup-email') Email Address
                          input.form-control#signup-email(type='text' name='email')
                        .form-group.form-group-lg
                          label.control-label(for='signup-password') Password
                          input.form-control#signup-password(type='password' name='password')
                      .modal-footer
                        button.btn.btn-default(type='button' data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Sign up
            else
              li.dropdown.user-setup-btn
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.glyphicon.glyphicon-user
                  | Me 
                  span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/users') My Profile
                    li
                      a(href='#') Settings
                    li.divider
                    li
                      a(href='/logout') Logout
                button.btn.btn-success.tab(href='#' data-toggle='modal' data-target='.upload-modal') Upload

    - if (flash.length > 0)
      - for message in flash
        .alert.alert-warning.alert-dismissible.fade.in(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
          strong 登入失敗 
          =message.message
    block content
    
    .modal.fade.upload-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-upload' aria-hidden='true')
      .modal-dialog
        form.modal-content#frmUploadFile(enctype='multipart/form-data' action='/upload' method='post' role = "form")
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title#dialog-upload Post a fun
            p Upload funny news, paste pictures URL
          .modal-body
            .form-group.form-group-lg
              label.control-label(for='user-post-title') Title :
              input.form-control#user-post-title(type='text' name='user-post-title')
            .form-group.form-group-lg
              label.control-label(for='user-post-url') Url :
              input.form-control#user-post-url(type='url' name='user-post-url')
            .form-group
              div#news-prewiew(style="border: 1px solid #000;padding:5px;")
                h3.news-title
                .news-img
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Upload
    
    include footer

    include ./contentTemplate