aside#content-sidebar
  .content-sidebar-wrap
    .single-widget.socialbox.clearfix
      .widget-body
        ul.social-links-list.list-unstyled.clearfix
          li
            a.xgag-facebook-background.xgag-facebook-border(target='_blank', href='#')
              i.fa.fa-facebook
          li
            a.xgag-twitter-background.xgag-twitter-border(target='_blank', href='http://twitter.com/bluthemes')
              i.fa.fa-twitter
          li
            a.xgag-dribbble-background.xgag-dribbble-border(target='_blank', href='http://www.dribbble.com/bluthemes')
              i.fa.fa-dribbble
          li
            a.xgag-instagram-background.xgag-instagram-border(target='_blank', href='https://instagram.com')
              i.fa.fa-instagram

        .single-widget.xgag_post
          h3.widget-head &#x8DA8;&#x52E2;&#x6587;&#x7AE0;
          .layout-list
            article.layout-list-item
              a(href='#')
                .post-image
                  img.attachment-thumbnail(width='150', height='150', src='./xgag_template/3.jpg', alt='')
                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;
                  p.post-date.text-muted
                    | &nbsp;2015/7/6
            article.layout-list-item
              a(href='#')
                .post-image
                  img.attachment-thumbnail(width='150', height='150', src='./xgag_template/4.jpg', alt='')
                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;
                  p.post-date.text-muted
                    | &nbsp;2015/7/6

            article.layout-list-item
              a(href='#')
                .post-image
                  img.attachment-thumbnail(width='150', height='150', src='./xgag_template/5.jpg', alt='')
                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;
                  p.post-date.text-muted
                    | &nbsp;2015/7/6

            article.layout-list-item
              a(href='#')
                .post-image
                  img.attachment-thumbnail(width='150', height='150', src='./xgag_template/6.jpg', alt='')
                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;
                  p.post-date.text-muted
                    | &nbsp;2015/7/6

        .single-widget.widget_nav_menu
          h3.widget-head &#x71B1;&#x9580;&#x95DC;&#x9375;&#x5B57;

          .menu-footer-menu-container
            ul#menu-footer-menu.menu
              li.menu-item-type-post_type.menu-item-object-page(id='')
                a(href='#') &#x5C0F;&#x4E09;

              li.menu-item-type-post_type.menu-item-object-page(id='')
                a(href='#') &#x6DD8;&#xFF27;&#xFF27;

              li.menu-item-type-post_type.menu-item-object-page(id='')
                a(href='#') &#x694A;&#x5B50;&#x6674;

        #instagram_widget.single-widget.widget_ig.bw_slider
          h3.widget-head Instagram

          .widget-body
            .instagram-images.clearfix
              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/7.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/8.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/1.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/9.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/10.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/2.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/11.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/12.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/13.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/14.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/15.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='./xgag_template/16.jpg', alt='')

            ul.instagram-info.clearfix
              li
                h4 999999
                small.text-muted followers
              li
                h4 999999
                small.text-muted following
              li
                h4 999999
                small.text-muted photos

        .single-widget.xgag_post
          h3.widget-head &#x6700;&#x65B0;&#x6295;&#x7A3F;

          .layout-grid
            article.layout-grid-item
              a(href='#')
                .post-image
                  img.attachment-md(width='320', height='180', src='http://i3.ytimg.com/vi/ZiVnvbO2LdQ/mqdefault.jpg', alt='Rick Astley’s First Single in 17 Years – Lights Out')

                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;

                  p.post-date.text-muted
                    i
                    | &nbsp;2015/4/16

            article.layout-grid-item
              a(href='#')
                .post-image
                  img.attachment-md(width='320', height='180', src='https://s-media-cache-ak0.pinimg.com/736x/14/e5/b7/14e5b79bbf66fb4a7c3a72b09fe05f7f.jpg', alt='')

                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;

                  p.post-date.text-muted
                    i
                    | &nbsp;2015/4/16

            article.layout-grid-item
              a(href='#')
                .post-image
                  img.attachment-md(width='320', height='180', src='http://img-comment-fun.9cache.com/media/55984cb8141783556550649340_700wa_0.gif', alt='')

                .post-meta
                  h4 &#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;&#x6587;&#x5B57;

                  p.post-date.text-muted
                    i
                    | &nbsp;2015/4/16
