body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gag-nav .navbar-nav>li{
  margin: 0 5px;
}
.gag-nav .navbar-nav>li>a{
  border-bottom: 3px solid transparent;
}
.gag-nav .navbar-nav>li>a.tab:focus{
  /*font-weight: 700;*/
  border-color: #fff;
}
.user-info{
  text-align: center;
  background: #5bc0de;
  margin-bottom: 0;
}
.mug-shot{
  margin: 0 auto;
}
.user-menu{
  border-bottom: 1px solid #ddd;
}