body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gag-nav .navbar-nav>li{
  margin: 0 5px;
}
.gag-nav .navbar-nav>li>.tab{
  border-bottom: 3px solid transparent;
}
.gag-nav .navbar-nav>li>a.tab:focus{
  border-color: #fff;
}
.user-info{
  margin-bottom: 20px;
}
.jumbotron.user-info{
  text-align: center;
  color: #cdbfe3;
  margin-bottom: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}
.mug-shot{
  margin: 0 auto;
}
.user-menu{
  border-bottom: 1px solid #ddd;
}
.user-setup-btn > .dropdown-toggle{
  display: inline-block;
}
.post.jumbotron{
  text-align: center;
}
.post .item-title{
  margin-top: 0;
}