body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.gag-nav .navbar-nav>li{
  margin: 0 5px;
}
.gag-nav .navbar-nav>li>a{
  border-bottom: 3px solid transparent;
}
.gag-nav .navbar-nav>li>a.tab:focus{
  /*font-weight: 700;*/
  border-color: #fff;
}