footer#site-footer
  .container
    .row
      .col-sm-12.col-md-4.col-lg-4
        .single-widget.widget_text
          .textwidget
            img(alt="" src="/images/xgaglogo.png" class="img-responsive")
            | Xgag 是台灣的一個新聞平台，提供各種有趣, 好玩, 歡呼, 花惹發等新聞內容互動體驗，提供使用者全面且豐富的閱讀感受。
      .col-sm-12.col-md-4.col-lg-4
        .single-widget.footer_nav_menu
          h3.widget-head
            | 熱門選單
          .menu-footer-menu-container
            ul.menu
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#")
                  | 最新
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#")
                  | 趨勢文章
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#contact_us")
                  | 熱門文章
      .col-sm-12.col-md-4.col-lg-4
  .footer-text
    .container
      p Xgag &copy; 2015
          | This Power by &nbsp;&nbsp;
          a(href="http://exma-square.co/", target="_blank") EXMA-Square.co
          | , open source is &nbsp;&nbsp;
          a(href="https://github.com/exma-square/Xgag", target="_blank") Xgag project
      p Welcome to contact us hq[AT]exma-square.co
if error
  script(type='text/javascript').
    alert('error: #{error.message}');
    window.location.href = '/';
