footer#site-footer
  .container
    .row
      .col-sm-12.col-md-4.col-lg-4
        .single-widget.widget_text
          .textwidget
            img(alt="" src="/images/xgaglogo.png" class="img-responsive")
            | User story 文字介紹
      .col-sm-12.col-md-4.col-lg-4
        .single-widget.footer_nav_menu
          h3.widget-head
            | 選單文字
          .menu-footer-menu-container
            ul.menu
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#")
                  | 新增po文
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#")
                  | 一二三四
              li.menu-item-type-post_type.menu-item-object-page
                a(href="#contact_us")
                  | 聯絡我們
      .col-sm-12.col-md-4.col-lg-4
  .footer-text
    .container
      p Xgag &copy; 2015
          | This Power by &nbsp;&nbsp;
          a(href="http://exma-square.co/", target="_blank") EXMA-Square.co
          | , open source is &nbsp;&nbsp;
          a(href="https://github.com/exma-square/Xgag", target="_blank") Xgag project
      p Welcome to contact us hq[AT]exma-square.co
if error
  script(type='text/javascript').
    alert('error: #{error.message}');
