doctype html
html(lang='en', mode='normal')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Xgag')
    meta(name='author', content='exma')
    title= title
    //- Bootstrap Core CSS
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css')
    //- Custom CSS
    link(rel='stylesheet' href='/stylesheets/main.css')
    link(rel='stylesheet' href='/stylesheets/xgag.css')

    //- jQuery
    script(type='text/javascript' src='/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/lib/jquery.tmpl.min.js')
    //- Bootstrap Core JavaScript
    script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
    //- Custom JS
    script(type='text/javascript' src='/javascripts/main.js')



    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <![endif]
  body
    include header
    block content

    .modal.fade.login-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-login' aria-hidden='true')
      .modal-dialog
        form.modal-content(action="/login" method="post")
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title#dialog-login Login
            span.text-info Log in with your email address
          .modal-body
            .form-group.form-group-lg
              label.control-label(for='login-email-name') Email
              input.form-control#login-email-name(type='text' name='email')
            .form-group.form-group-lg
              label.control-label(for='login-password') Password
              input.form-control#login-password(type='password' name='password')
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Log in

    .modal.fade.signup-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-signup' aria-hidden='true')
      .modal-dialog
        form.modal-content(action="/create" method="post")
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title#dialog-signup Become a member
          .modal-body
            .form-group.form-group-lg
              label.control-label(for='signup-full-name') Full Name
              input.form-control#signup-full-name(type='text' name='name')
            .form-group.form-group-lg
              label.control-label(for='signup-email') Email Address
              input.form-control#signup-email(type='text' name='email')
            .form-group.form-group-lg
              label.control-label(for='signup-password') Password
              input.form-control#signup-password(type='password' name='password')
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Sign up

    .modal.fade.upload-modal(tabindex='-1' role='dialog' aria-labelledby='dialog-upload' aria-hidden='true')
      .modal-dialog.modal-lg
        form.modal-content#frmUploadFile(enctype='multipart/form-data' action='/upload' method='post' role = "form")
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h2.modal-title#dialog-upload Post a fun
            p Upload funny news, paste URL
          .modal-body
            .col-md-6
              .form-group.form-group-lg
                label.control-label(for='user-post-url') Url :
                input.form-control#user-post-url(type='url' name='user-post-url')
              .form-group.form-group-lg
                label.control-label(for='user-post-title') Title :
                input.form-control#user-post-title(type='text' name='user-post-title')
              .form-group
                label.control-label(for='user-post-description') Description :
                textarea.form-control#user-post-description(rows="6" name='user-post-description')
            .col-md-6
              .form-group
                div#news-prewiew(style="")
            .clearfix
          .modal-footer
            button.btn.btn-default(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Upload

    include footer

    include contentTemplate