aside#content-sidebar
  .content-sidebar-wrap
    .single-widget.socialbox.clearfix
      .widget-body
        //- ul.social-links-list.list-unstyled.clearfix
        //-   li
        //-     a.xgag-facebook-background.xgag-facebook-border(target='_blank', href='#')
        //-       i.fa.fa-facebook
        //-   li
        //-     a.xgag-twitter-background.xgag-twitter-border(target='_blank', href='http://twitter.com/bluthemes')
        //-       i.fa.fa-twitter
        //-   li
        //-     a.xgag-dribbble-background.xgag-dribbble-border(target='_blank', href='http://www.dribbble.com/bluthemes')
        //-       i.fa.fa-dribbble
        //-   li
        //-     a.xgag-instagram-background.xgag-instagram-border(target='_blank', href='https://instagram.com')
        //-       i.fa.fa-instagram
        #fb-root
        .fb-share-button(data-href="https://xgag.cc" data-layout="button")
        .single-widget.xgag_post
          h3.widget-head 最讚文章
          .layout-list#top-like-posts

        .single-widget.widget_nav_menu
          h3.widget-head 最Low文章 

          .menu-footer-menu-container
            ul#menu-footer-menu.menu

        #instagram_widget.single-widget.widget_ig.bw_slider
          h3.widget-head 熱門關鍵字

          .widget-body
            .instagram-images.clearfix
              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/7.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/8.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/1.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/9.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/10.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/2.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/11.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/12.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/13.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/14.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/15.jpg', alt='')

              a.instagram-link(href='#', target='_blank')
                img(src='/images/fake_img/16.jpg', alt='')

            ul.instagram-info.clearfix
              li
                h4 999999
                small.text-muted followers
              li
                h4 999999
                small.text-muted following
              li
                h4 999999
                small.text-muted photos

        .single-widget.xgag_post
          h3.widget-head 最新文章

          .layout-grid#newest-posts
